*{
    box-sizing: border-box;
}

/*style til søgefeltet*/
form.example input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #00454E;
    float: left;
    width: 80%;
    background: #fff;
}

/*style til søge-knappen*/
form.example button{
    float: left;
    width: 20%;
    padding: 10px;
    background-color: #F1C8C0;
    color: #00454E;
    font-size: 17px;
    border: 1 px solid #00454E;
    border-left: none;
    cursor: pointer;
}

form.example button:hover{
    background-color: #F1C8C0;

}

/*clear foats*/
form.example::after{
    content: "";
    clear: both;
    display: table;
}